@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  place-items: center;
  justify-content: center;
}

@media (min-width: 350px) {
  .grid {
    grid-template-columns: auto auto auto auto;
  }
}
@media (min-width: 576px) {
  .grid {
    grid-template-columns: auto auto auto auto auto;
  }
}
